body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
}

/* HEADER */
.header {
  height: 35em;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.navbar__logo {
  text-decoration: none;
  float: left;
}

.navbar__logo .icon {
  background-color: #888;
  width: 50px;
  text-align: center;
  height: 50px;
  font-size: 2em;
  border-radius: 50%;
  line-height: 50px;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
}

.navbar__logo .title {
  text-align: left;
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  color: #888;
  font-weight: bold;
  font-family: arial;
  font-size: 1.7em;
}

.navbar__logo .title::after {
  content: ' Avelino';
}

.navbar__logo .title::before {
  content: 'Adriano';
}

.navbar__links {
  float: right;
}

.navbar a {
  display: inline-block;
  min-width: 50px;
  min-height: 40px;
  line-height: 40px;
  padding: .1em .5em;
  margin-left: 10px;
  color: #888;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 2px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #fff;
}

.header__bg {
  color: #000;
  background: #ddd url("./img/building.jpg") bottom center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  opacity: .8;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.toggle {
  position: absolute;
  right: .3em;
  top: 0;
  box-sizing: border-box;
  font-size: 4.5em;
  line-height: 60px;
  visibility: hidden;
  color: #888;
}

#toggle {
  display: none;
}

.toggleclose {
  display: none;
}

.header__text {
  font-family: Georgia, serif;
  font-style: italic;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 5px #444;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}

.header__text p {
  display: inline;
}

.content {
  margin: auto;
  max-width: 900px;
  color: #555;
}

.about,
.portifolio,
.contact {
  padding:  2em 1em;
}

h2 {
  height: 105px;
  text-align: center;
  color: #888;
  line-height: 185px;
}

/* ABOUT */
.half {
  text-align: center;
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  opacity: .8;
  border: 7px solid #ddd;
}

.sentence {
  font-size: 1.2em;
}

/* CONTACT */
.social-media {
  text-align: center;
}

.social-media a {
  text-decoration: none;
  transition: all .3s ease-in-out;
  opacity: .5;
}

.social-media a:hover {
  opacity: 1;
}

.social-media__facebook {
  color: #2b3990;
}

.social-media__twitter {
  color: #27aae1;
}

.social-media__github {
  color: #000;
}

.social-media__plus {
  color: #da1e2c;
}

/* FOOTER */
.footer {
  padding: 1em 1em 3em;
  text-align: center;
  color: #999;
}

.footer .fa-heart {
  color: rgba(255, 0, 0, 0.5);;
}

@media (max-width: 767px) {
  .box,
  .logo,
  .title,
  .toggle {
    z-index: 1;
  }

  .navbar {
    background-color: #000;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    transition: top .3s linear;
    z-index: 3;
    opacity: .9;
    padding-top: 20%;
  }

  .navbar a {
    padding: .5em;
    display: block;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    font-size: 1.2em;
  }

  .toggleclose {
    display: block;
    position: absolute;
    font-size: 1.7em;
    color: rgba(0, 0, 0, .9);;
    text-align: center;
    border-radius: 50%;
    opacity: 1;
    font-weight: bold;
    top: 2%;
    right: 1%;
    background-color: #fff ;
    width: 40px;
    height: 40px;
  }

  .toggleclose:hover {
    color: rgba(0, 0, 0, 0.6);;
  }

  .navbar a:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .5);;
  }

  .toggle {
    visibility: visible;
  }

  #toggle:checked + .navbar {
    top: 0px;
  }

  .header__text {
    transform: translateY(-95%);
  }

}

@media (max-width: 514px) {
  .header__text {
    font-size: 2em;
    transform: translateY(-60%);
  }
}

@media (max-width:380px) {

  .portifolio img {
    width: 90%;
    margin-bottom: 5%;
  }

  .logo {
    width: 100px;
  }

  .title::after {
    content: '';
  }

  .title::before {
    content: '';
  }

  .header__text {
    font-size: 2em;
  }

}
